<div class="wrap">
  <h2>極星光電股份有限公司</h2>
  <h2>申請單 - 請購/請款單</h2>
  <br>
  <%= simple_form_for @purchase_requisition do |f| %>
    <div class="upper">
      <h4>基本資料：</h4>
      <table id="purchase_form" class="table table-hover">
        <thead>
          <tr>
            <th scope="col">項次</th>
            <th scope="col">申請日期</th>
            <th scope="col">廠商</th>
            <th scope="col">品名與規格</th>
            <th scope="col">用途說明</th>
            <th scope="col">單位</th>
            <th scope="col">單價</th>
            <th scope="col">數量</th>
            <th scope="col">金額</th>
            <th scope="col">報價單</th>
            <th scope="col">記錄人</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>
              <%= t = Time.now
                t.strftime("%Y/%m/%d") %>
            </td>
            <td>
              <select id="company_id" name="company_id">
                <% Company.all.each do |company| %>
                  <option value="<%= company.id %>"><%= company.name %></option>
                <% end %>
              </select>
            </td>
            <td>
              <%= f.input :name ,label: false %>
            </td>
            <td>
              <%= f.input :description ,label: false%>
            </td>
            <td>
              <%= f.input :unit,label: false %>
            </td>
            <td>
              <%= f.input :unit_price,label: false %>
            </td>
            <td>
              <%= f.input :amount,label: false %>
            </td>
            <td>
              <%= f.input :total_price ,label: false%>
            </td>
            <td>
              <%= f.input :purchase_requisition_files ,label: false%>
            </td>
            <td>
              <select id="recorder_id" name="recorder_id">
                <% Employee.all.each do |employee| %>
                  <option value="<%= employee.id %>"><%= employee.name %></option>
                <% end %>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="content">
      <h4 id="next_to_checkbox">受款對象的匯款資料：</h4>
      <%= f.fields_for :remit_infos do |p| %>
          <div class="left_div">
            <div class="below_left_div">
              <input type='hidden' name='payee_type' value='Company' >
              <%= check_box_tag(:payee_type, "Employee") %>
              <%= label_tag(:payee_employee, "同記錄人") %>
            </div>
            <table id="payee_form" class="table table-hover form">
              <thead>
                <tr>
                  <th scope="col">廠商/員工姓名</th>
                  <th scope="col">帳戶名稱</th>
                  <th scope="col">銀行代碼</th>
                  <th scope="col">分行名稱</th>
                  <th scope="col">帳號</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <%= p.input :name,label: false %>
                  </td>
                  <td>
                    <%= p.input :bank_name ,label: false%>
                  </td>
                  <td>
                    <%= p.input :bank_code,label: false %>
                  </td>
                  <td>
                    <%= p.input :branch_bank_code ,label: false%>
                  </td>
                  <td>
                    <%= p.input :account_number ,label: false%>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      <% end %>
          <div class="right_div">
            <div class="below_right_div">
              <!--對齊左邊的div使用-->
            </div>
            <table id="payment_form" class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">付款期限</th>
                  <th scope="col">付款方式</th>
                  <th scope="col">運稅條件</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <%= f.input :payment_due_date,label: false %>
                  </td>
                  <td>
                    <%= f.input :payment_term, collection: [
                      ['事先付款', '0'],
                      ['貨到付款', '1']],
                      label: false %>
                    <!--%= f.input :deposit_price,label: false %-->
                  </td>
                  <td>
                    <%= f.input :payment_condition, collection: [
                      ['未稅', '0'],
                      ['含稅', '1'],
                      ['含稅+運費', '2']],
                      label: false %> 
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      <%= f.button :submit , :class => 'btn_send' %>
  <% end %>
</div>