<%= form_for :term, url: purchase_requisitions_path, method: :get do |form| %>
  <div id="search_block">
    <%= text_field_tag :term, params[:term] ,:id => 'search_bar' ,  :placeholder => '請輸入關鍵字' %>
    <%= submit_tag "Search", name: nil %>
  </div>
<% end %>

<div>
  <table id="purchase" class="table table-hover">
	  <thead>
	    <tr>
	      <th scope="col">
	      	<input type="checkbox" class="check" id="checkAll">
	      </th>
	      <th scope="col">項次</th>
	      <th scope="col">需求日期</th>
	      <th scope="col">廠商</th>
	      <th scope="col">品名規格</th>
	      <th scope="col">用途</th>
	      <th scope="col">單位</th>
	      <th scope="col">單價</th>
	      <th scope="col">數量</th>
	      <th scope="col">金額</th>
	      <th scope="col">收款人</th>
	      <th scope="col">處理進度</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<% @purchase_requisitions.each do |purchase_requisition| %>
		    <tr>
		      <td>
		      	<%= check_box_tag 'purchase_requisition_ids[]', purchase_requisition.id, false, class: 'check' %>
		      </td>
		      <td><%= link_to purchase_requisition.id, purchase_requisition %></td>
		      <td><%= purchase_requisition.created_at.to_date %></td>
		      <% @company = Company.find(purchase_requisition.company_id) %>
		      <td><%= @company.name %></td>
		      <td><%= purchase_requisition.name %></td>
		      <td><%= purchase_requisition.description %></td>
		      <td><%= purchase_requisition.unit %></td>
		      <td><%= purchase_requisition.unit_price %></td>
		      <td><%= purchase_requisition.amount %></td>
		      <td><%= purchase_requisition.total_price %></td>
		      <!--收款人不一定是Employee，要考慮多型關聯進去-->
		      <% @remit_info = RemitInfo.find(purchase_requisition.remit_info_id) %>
		      <% @payee = set_payee_by_payee_id(@remit_info.payee_id,@remit_info.payee_type) %>
		      <td><%= @payee.name %></td>
		      <td>完成</td>
		    </tr>
		<% end %>
	  </tbody>
	</table>
</div>
<div id="action_div">
<%= button_to('新增', new_purchase_requisition_path, :form => { :id => "new_btn"})%>
<%= form_for :deleteIds, url: delete_all_purchase_requisitions_path, :html => { :id => "del_btn" }, method: :delete do |d| %>
	<%= hidden_field_tag :deleteIds, params[:deleteIds] ,:id=>"deleteIds" %>
	<%= submit_tag('刪除') %>
<% end %>

	<!--$("#selectBox option:selected").remove();-->
</div>
</div>