<p id="notice"><%= notice %></p>

<p>
  <strong>申請日期:</strong>
  <%= @purchase_requisition.created_at.to_date %>
</p>

<p>
  <strong>廠商:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>品名與規格:</strong>
  <%= @purchase_requisition.name %>
</p>

<p>
  <strong>用途說明:</strong>
  <%= @purchase_requisition.description %>
</p>

<p>
  <strong>單位:</strong>
  <%= @purchase_requisition.unit %>
</p>

<p>
  <strong>單價:</strong>
  <%= @purchase_requisition.unit_price %>
</p>


<p>
  <strong>數量:</strong>
  <%= @purchase_requisition.amount %>
</p>

<p>
  <strong>金額:</strong>
  <%= @purchase_requisition.total_price %>
</p>

<p>
  <strong>記錄人:</strong>
  <%= @recorder.name %>
</p>


<h4>匯款資訊</h4>

<p>
  <strong>收款人:</strong>
  <%= @payee.name %>
</p>

<p>
  <strong>帳戶名稱:</strong>
  <%= @remit_info.bank_name %>
</p>

<p>
  <strong>銀行代碼:</strong>
  <%= @remit_info.bank_code %>
</p>

<p>
  <strong>分行名稱:</strong>
  <%= @remit_info.branch_bank_code %>
</p>

<p>
  <strong>帳號:</strong>
  <%= @remit_info.account_number %>
</p>

<p>
  <strong>付款期限:</strong>
  <%= @purchase_requisition.payment_due_date %>
</p>

<p>
  <strong>付款方式:</strong>
  <%= @payment_term %>
</p>

<p>
  <strong>訂金:</strong>
  <%= @purchase_requisition.deposit_price %>
</p>

<p>
  <strong>運稅條件:</strong>
  <%= @payment_condition %>
</p>

<p>
  <strong>請購單附件:</strong>
  <% if @purchase_requisition.attachments.attached? %>
    <% @purchase_requisition.attachments.each do |doc| %>
      <p>
      <%= link_to(doc.filename, rails_blob_path(doc, disposition: "attachment"),traget: :blank) %>
      </p>
    <% end %>
  <% else %>
    <p> 無 </p>
  <% end %>
</p>

<%= link_to 'Back', purchase_requisitions_path %>
